/* yt-content-slider yt-content-slider--arrow1*/
.no-margin {
  margin: 0 !important;
}

.yt-content-slider--arrow1 .owl2-controls .owl2-nav div {
  position: absolute;
  top: 20%;
  outline: 0;
  width: 30px;
  height: 50px;
  font-size: 0;
  z-index: 9;
  transition: all 0.3s ease;
  transform: translate(0, -20%);
}

/**************************************************************
		HTML Content
**************************************************************/
.eg-list-float {
  -webkit-box-align: stretch;
  -moz-box-align: stretch;
  box-align: stretch;
  -webkit-align-items: stretch;
  -moz-align-items: stretch;
  -ms-align-items: stretch;
  -o-align-items: stretch;
  align-items: stretch;
  -ms-flex-align: stretch;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  box-orient: horizontal;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  box-direction: normal;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  flex-direction: row;
  -ms-flex-direction: row;
  -webkit-box-pack: start;
  -moz-box-pack: start;
  box-pack: start;
  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
  -ms-justify-content: flex-start;
  -o-justify-content: flex-start;
  justify-content: flex-start;
  -ms-flex-pack: start;
}

.eg-list-float li {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.services-v1 .policy-inner {
  border: 3px solid transparent;
  padding: 20px 28px;
  height: 80px;
  background: #f2f2f2;
  margin-top: 20px;
}

.services-v1 .policy-inner:hover {
  border-color: #F4A137;
}

.services-v1 span {
  float: left;
  text-indent: -999em;
  margin-right: 10px;
  background-repeat: no-repeat;
}

.services-v1 h2 {
  font-size: 116.6%;
  font-weight: bold;
  text-transform: uppercase;
  color: #444;
  margin: 0;
}

.services-v1 a {
  color: #999;
  text-transform: capitalize;
}

.services-v1 .policy1 .ico-policy {
  background-image: url("../image/theme//icons/ico-money.png");
  width: 27px;
  height: 36px;
}

.services-v1 .policy2 .ico-policy {
  background-image: url("../image/theme//icons/ico-freeship.png");
  width: 53px;
  height: 32px;
}

.services-v1 .policy3 .ico-policy {
  background-image: url("../image/theme//icons//ico-celander.png");
  width: 33px;
  height: 34px;
}

.services-v1 .policy4 .ico-policy {
  background-image: url("../image/theme//icons/ico-umbrella.png");
  width: 34px;
  height: 34px;
}