.type_6 .phone-contact .inner-info {
    background: url("./image/theme/home6/icon-phone.png") left top no-repeat;
}

.services-v1 .policy1 .ico-policy {
    background-image: url("./image/theme/icons/ico-money.png");
}

.services-v1 .policy2 .ico-policy {
    background-image: url("./image/theme/icons/ico-freeship.png");
}

.services-v1 .policy3 .ico-policy {
    background-image: url("./image/theme/icons/ico-celander.png");
}

.services-v1 .policy4 .ico-policy {
    background-image: url("./image/theme/icons/ico-umbrella.png");
}

.pattern-1 {
    background-image: url("./image/theme/patterns/1.png");
}

.pattern-2 {
    background-image: url("./image/theme/patterns/2.png");
}

.pattern-3 {
    background-image: url("./image/theme/patterns/3.png");
}

.pattern-4 {
    background-image: url("./image/theme/patterns/4.png");
}

.pattern-5 {
    background-image: url("./image/theme/patterns/5.png");
}

.pattern-6 {
    background-image: url("./image/theme/patterns/6.png");
}

.pattern-7 {
    background-image: url("./image/theme/patterns/7.png");
}

.pattern-8 {
    background-image: url("./image/theme/patterns/8.png");
}

.pattern-9 {
    background-image: url("./image/theme/patterns/9.png");
}

.pattern-10 {
    background-image: url("./image/theme/patterns/10.png");
}

.pattern-11 {
    background-image: url("./image/theme/patterns/11.png");
}

.pattern-12 {
    background-image: url("./image/theme/patterns/12.png");
}

.pattern-13 {
    background-image: url("./image/theme/patterns/13.png");
}

.pattern-14 {
    background-image: url("./image/theme/patterns/14.png");
}

.pattern-15 {
    background-image: url("../image/theme/patterns/15.png");
}

.pattern-16 {
    background-image: url("./image/theme/patterns/16.png");
}

.pattern-17 {
    background-image: url("../image/theme/patterns/17.png");
}

.pattern-18 {
    background-image: url("./image/theme/patterns/18.png");
}

.pattern-19 {
    background-image: url("./image/theme/patterns/19.png");
}

.pattern-20 {
    background-image: url("./image/theme/patterns/20.png");
}

.pattern-21 {
    background-image: url("../image/theme/patterns/21.png");
}

.pattern-22 {
    background-image: url("./image/theme/patterns/22.png");
}

.pattern-23 {
    background-image: url("./image/theme/patterns/23.png");
}

.pattern-24 {
    background-image: url("./image/theme/patterns/24.png");
}

.pattern-25 {
    background-image: url("./image/theme/patterns/25.png");
}

.pattern-26 {
    background-image: url("./image/theme/patterns/26.png");
}

.pattern-27 {
    background-image: url("./image/theme/patterns/27.png");
}

.pattern-28 {
    background-image: url("./image/theme/patterns/28.png");
}

.pattern-29 {
    background-image: url("./image/theme/patterns/29.png");
}

.pattern-30 {
    background-image: url("./image/theme/patterns/30.png");
}

.pattern-31 {
    background-image: url("./image/theme/patterns/31.png");
}

.pattern-32 {
    background-image: url("./image/theme/patterns/32.png");
}

.pattern-33 {
    background-image: url("./image/theme/patterns/33.png");
}

.pattern-34 {
    background-image: url("./image/theme/patterns/34.png");
}

.pattern-35 {
    background-image: url("../image/theme/patterns/35.png");
}

.pattern-36 {
    background-image: url("./image/theme/patterns/36.png");
}

.pattern-37 {
    background-image: url("./image/theme/patterns/37.png");
}

.pattern-38 {
    background-image: url("./image/theme/patterns/38.png");
}

.pattern-39 {
    background-image: url("./image/theme/patterns/39.png");
}

.pattern-40 {
    background-image: url("./image/theme/patterns/40.png");
}

.pattern-41 {
    background-image: url("./image/theme/patterns/41.png");
}

.pattern-42 {
    background-image: url("./image/theme/patterns/42.png");
}

.pattern-43 {
    background-image: url("./image/theme/patterns/43.png");
}

.pattern-44 {
    background-image: url("./image/theme/patterns/44.png");
}

.pattern-45 {
    background-image: url("./image/theme/patterns/45.png");
}

div.so-vertical-menu ul.megamenu>li .caret {
    background: url("./image/theme/icons/ico-menu-parent.png") no-repeat;
}

.shopping_cart a.top_cart .handle {
    background: url("./image/theme/icons/icon_minicart.png") no-repeat 8px 8px;
}

.yt-content-slider--arrow1 .owl2-controls .owl2-nav div.owl2-prev {
    background: url("./image/theme/icons/arrow-slider-left.png") no-repeat;
}

.yt-content-slider--arrow1 .owl2-controls .owl2-nav div.owl2-next {
    background: url("./image/theme/icons/arrow-slider-right.png") no-repeat;
}

.yt-content-slider--arrow2 .owl2-controls .owl2-nav .owl2-prev,
.yt-content-slider--arrow2 .owl2-controls .owl2-nav .owl2-next {
    background-image: url("./image/theme/icons/ico-slider.png");
}

.slider-brand--home6 .owl2-controls .owl2-nav .owl2-prev,
.slider-brand--home6 .owl2-controls .owl2-nav .owl2-next {
    background-image: url("./image/theme/icons/ico-slider.png");
}

.block-clientsay .owl2-controls .owl2-nav .owl2-prev,
.block-clientsay .owl2-controls .owl2-nav .owl2-next {
    background-image: url("./image/theme/icons/ico-slider.png");
}

select {
    background: url("./image/theme/icons/bg-selectbox.png") no-repeat right center #fff;
}

.left-content-product .content-product-left .full_slider .owl2-nav div.owl2-prev,
.left-content-product .content-product-left .not_full_slider .owl2-nav div.owl2-prev {
    background: url("./image/theme/icons/next-prev-detail.png") no-repeat;
}

.left-content-product .content-product-left .full_slider .owl2-nav div.owl2-next,
.left-content-product .content-product-left .not_full_slider .owl2-nav div.owl2-next {
    background: url("./image/theme/icons/next-prev-detail.png") no-repeat;
}

.related .releate-products .owl2-nav div.owl2-prev {
    background: url("./image/theme/icons/next-prev-detail.png") no-repeat;
    background-position: -41px 0px;
}

.related .releate-products .owl2-nav div.owl2-next {
    background: url("./image/theme/icons/next-prev-detail.png") no-repeat;
}

.banner-policy .policy.policy1 a span {
    background: url("./image/theme/icons/policy_1.png") no-repeat;
}

.banner-policy .policy.policy2 a span {
    background: url("./image/theme/icons/ico-freeship.png") no-repeat;
}

.banner-policy .policy.policy3 a span {
    background: url("./image/theme/icons/ico-celander.png") no-repeat;
}

.banner-policy .policy.policy4 a span {
    background: url("./image/theme/icons/ico-umbrella.png") no-repeat;
}

#collections_block ul li.collection_0 a {
    background-image: url("./image/theme//icons/collections--1.png");
}

#collections_block ul li.collection_1 a {
    background-image: url("./image/theme//icons/collections--1.png");
}

#collections_block ul li.collection_2 a {
    background-image: url("./image/theme//icons/collections--1.png");
}

#collections_block ul li.collection_3 a {
    background-image: url("./image/theme//icons/collections--1.png");
}

#collections_block ul li.collection_4 a {
    background-image: url("./image/theme//icons/collections--1.png");
}

/* #collections_block ul li.collection_5 a {
    background-image: url("../image/theme//icons/collections-6-1.png");
} */

.banner-policy .policy.policy1 a span {
    background: url("../image/theme/icons/policy_1.png") no-repeat;
}