* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* . */
body {
  background: #fff;

}

* ::-webkit-scrollbar {
  display: none;
}

.col-md-3.col-sm-3.col-xs-11.alert-jpn.alert-custom.animated.fadeIn {
  display: none !important;
}

.ltabs-items-inner.ltabs-slider {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  gap: 10px;
}

.ltabs-item.product-layout {
  height: 400px;
}

.product-item-container {
  height: 100%;
}

.product-image-container {
  position: relative;
}

.img-responsive {
  margin: 0 auto;
  max-width: 100%;
  max-height: 100%;
  background-color: #ffffff;

}

.img_0.img-responsive {
  max-width: 100%;
  max-height: 100%;
}

.owl-theme {
  width: 100%;
  height: 1000px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-x: scroll;
}

.owl-theme::-webkit-scrollbar {
  display: none;
}

.category-img,
.product-img {
  height: 200px;
}

.category-img img,
.product-img img {
  height: 100%;
}

.table-responsive.form-group::-webkit-scrollbar {
  scrollbar-width: normal;
  height: 5px;
}

/* Track */
.table-responsive.form-group::-webkit-scrollbar-track {
  height: 50px;
  background: #f1f1f1;
  scrollbar-width: normal;

  border-radius: 10px;

}

/* Handle */
.table-responsive.form-group::-webkit-scrollbar-thumb {

  background: #888;
  scrollbar-width: normal;

}

/* Handle on hover */
.table-responsive.form-group::-webkit-scrollbar-thumb:hover {
  background: #555;
  scrollbar-width: normal;
}

.about-grid {
  height: 500px;
}

.about-img {
  height: 400px;
  overflow-y: hidden;
}

.about-us .owl2-controls .owl2-nav div.owl2-next {
  right: 20px;
}

.about-us .owl2-controls .owl2-nav div.owl2-prev {
  left: 20px;
}

.large-image {
  width: 100%;
  min-height: 500px;
}

.large-image .product-image-zoom {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
  height: 100%;
}

.table-overflow-scroll {
  height: 300px;
  overflow-y: scroll;
}

.table-overflow-scroll::-webkit-scrollbar {
  display: none;
}

.no-border {
  width: 160px;
  border: none;
  outline: none;
}

.productDetailCenter {
  margin: 50px auto;
}

.yt-content-slide .img-responsive {
  width: 100%;
  height: 580px;
}

@media (max-width: 500px) {
  .yt-content-slide .img-responsive {
    height: 322px;
  }
}

.d-flex {
  display: flex !important;
  gap: 10px;
}

.add-to-links ul li {
  margin: 0;
}

.product-layout.col-md-4.col-sm-6.col-xs-12.col-lg-12 .product-item-container {
  height: 280px;
}

.product-layout.col-md-4.col-sm-6.col-xs-12 .product-item-container {
  height: 380px;
}

.product-layout.col-md-4.col-sm-6.col-xs-12 .description.item-desc {
  display: none;
}

@media (max-width: 992px) {
  .product-layout.col-md-4.col-sm-6.col-xs-12.col-lg-12 .product-item-container {
    height: 480px;
  }

  .product-layout.col-md-4.col-sm-6.col-xs-12 .product-item-container {
    height: 380px;
  }
}

@media (max-width: 576px) {
  .product-layout.col-md-4.col-sm-6.col-xs-12.col-lg-12 .product-item-container {
    height: 550px;
  }

  .product-layout.col-md-4.col-sm-6.col-xs-12 .product-item-container {
    height: 380px;
  }
}

.PhoneInputInput {
  outline: none;
  border: none;
  display: block;
  font-size: 12px;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
  box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.PhoneInputInput:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
}

.PhoneInputInput::-moz-placeholder {
  color: #999;
  opacity: 1;
}

.PhoneInputInput:-ms-input-placeholder {
  color: #999;
}

.PhoneInputInput::-webkit-input-placeholder {
  color: #999;
}

.mr-1 {
  margin-right: 5px;
}

.p-1 {
  padding: 7px 14px;
}


.carousel-root,
.carousel.carousel-slider {
  margin: 0 auto 30px auto;
  width: 70%;
  height: 600px;
  user-select: none;
}

@media (max-width: 1290px) {

  .carousel-root,
  .carousel.carousel-slider {
    width: 100%;
    height: 500px;
  }
}

@media (max-width: 768px) {

  .carousel-root,
  .carousel.carousel-slider {
    height: 300px;
  }
}

@media (max-width: 450px) {

  .carousel-root,
  .carousel.carousel-slider {
    height: 250px;
  }
}

.control-arrow.control-next,
.control-arrow.control-prev {
  display: none;
}

.member-image img {
  position: relative;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  width: 300px;
  height: 300px;
}

.caret.bottom {
  transform: rotate(180deg);
}

@media (max-width: 767px) {
  .top-link.list-inline li {
    position: relative;
    right: 20px;
    display: inline !important;
    text-align: end;
  }

  .module.clearfix.modLine h3 {
    display: block !important;
  }
}

.grid {
  display: flex;
  gap: 3px;
}

.color-box {
  position: relative;
  width: 20px;
  height: 20px;
  z-index: 100;
}


.color-box .fa.fa-check {
  color: rgb(0, 0, 0);
  min-width: 100%;
  min-height: 100%;
  font-size: 20px;
}

.text-center.btn {
  display: flex;
  align-items: center;
  justify-content: center;
}

.center {
  position: relative;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
}

.thumbs-wrapper.axis-vertical img {
  height: 40px;
}

@media (min-width: 768px) {
  .carousel-slider img {
    height: 500px;
    background: no-repeat, center;
    object-fit: fill;
  }
}

@media (max-width: 768px) {
  .carousel-slider img {
    height: 300px;
  }
}

.about-us-center {
  padding: 0 !important;
}